body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cloud {
  display: flex;
}

.btn {
  border: 0.5px solid #ccc;
  border-radius: 5px;
  /* background-color: #eee; */
  background-image: linear-gradient(to bottom,#fff 0,#e0e0e0 100%);
  text-shadow: 0 1px 0 #fff;
  /* box-shadow: 0 -2px 2px #6f6f6f; */
  padding: 6px 12px;
  margin-right: 1rem;
}

