@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  font-weight: 300;
}

.statsRow {
  display: flex;
  flex-direction: row;;
}

.cards {
  display: flex;
  flex: 1 1 1;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 400px;
  border: 0.5px solid #c0c0c0;
  border-radius: 10px;
  box-shadow: 0.1 0.1 0.2 #c0c0c0;
  margin: 1rem;
}

.cardTitle, .cardHeading {
  padding: 1rem;
}

.images {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.mainImage {
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.subimages {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

.followButton {
  width: 100%;
  margin-top: 1rem;
}


