@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #282828;
  color: #fffacd;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
}

input {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 1rem 2rem;
  text-align: center;
  margin: 1rem;
  font-size: 2rem;
}

ul li {
  list-style: none;
  font-size: 2rem;
}

